    <!-- JS -->
    <script src="{{ site.url }}/assets/js/jquery-1.12.0.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.dlmenu.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.goup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.fitvid.min.js"></script>
    <script src="{{ site.url }}/assets/js/scripts.js"></script>
    <!-- snowfall -->
    <script tyle="text/javascript" src="{{ site.url }}/assets/js/snowfall.jquery.js"></script>
    <script tyle="text/javascript" src="{{ site.url }}/assets/js/snowfall.js"></script>
    <script>
        $(document).ready(function(){
          /* $(document).snowfall(); */
          /* $(document).snowfall({flakeCount : 250}); */
          $(document).snowfall({
            image :"{{ site.url }}/assets/img/flake.png", 
            minSize: 3, 
            maxSize:10, 
            flakeCount : 120
          });
        });
    </script>
    {% if site.google.analytics %}
    <!-- Asynchronous Google Analytics snippet -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google.analytics }}', 'auto');  
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>
    {% endif %}
    {% if page.comments != false %}
        {% include disqus_comments.html %}
    {% endif %}

