/* nanum-myeongjo-regular - latin_korean */
@font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 400;
    src: url('/wedding_assets/fonts/nanummyeongjo/nanum-myeongjo-v15-latin_korean-regular.eot'); /* IE9 Compat Modes */
    src: local('NanumMyeongjo'),
         url('/wedding_assets/fonts/nanummyeongjo/nanum-myeongjo-v15-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
  }
  /* nanum-myeongjo-800 - latin_korean */
  @font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 800;
    src: url('/wedding_assets/fonts/nanummyeongjo/nanum-myeongjo-v15-latin_korean-800.eot'); /* IE9 Compat Modes */
    src: local('NanumMyeongjo ExtraBold'), local('NanumMyeongjoExtraBold'),
         url('/wedding_assets/fonts/nanummyeongjo/nanum-myeongjo-v15-latin_korean-800.woff') format('woff'), /* Modern Browsers */
  }
  /* nanum-myeongjo-700 - latin_korean */
  @font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 700;
    src: url('/wedding_assets/fonts/nanummyeongjo/nanum-myeongjo-v15-latin_korean-700.eot'); /* IE9 Compat Modes */
    src: local('NanumMyeongjo Bold'), local('NanumMyeongjoBold'),
         url('/wedding_assets/fonts/nanummyeongjo/nanum-myeongjo-v15-latin_korean-700.woff') format('woff'), /* Modern Browsers */
  }